<a href="https://colab.research.google.com/github/Null2648/Basic_Python/blob/main/ch03.%20%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%20%EC%A0%9C%EC%96%B4%EB%AC%B8/ch03_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료구조
- 데이터를 저장하는 기억공간을 효율적으로 사용할 수 있도록 도와주는 기능
- 기억공간을 효율적으로 사용한다는 것은 낭비를 최소화하고 처리속도를 빠르게 하는 것
- 파이썬에서 제공하는 자료구조: 리스트, 튜플, 세트, 딕셔너리, 데이터프레임

## 리스트(List)
- 임의의 객체를 순서대로 저장하는 자료형(시퀀스_sequence 자료형)
- 각 데이터의 값이 담겨지는 위치를 인덱스(index)라고 부른다.
- 인덱스는 0부터 시작된다.
- 변경 가능
- 대괄호 []를 사용하여 데이터를 표현한다.

In [ ]:
# 리스트(list): 하나의 변수에 여러 값을 할당하는 자료구조, 자료형
# 시퀀스 자료형: 순서대로 데이터를 저장하는 자료형(리스트, 문자열, 튜플)
a = [10, 20, 30, 40, 50]
a

[10, 20, 30, 40, 50]

In [ ]:
# 자료형을 확인하는 함수
print(type(a))

<class 'list'>

In [ ]:
b = ['red', 'blue', 'green']
b

['red', 'blue', 'green']

In [ ]:
# 인덱스(Index): 데이터의 위치
b[0]

'red'

In [ ]:
b[-1]

'green'

In [ ]:
# 중첩 리스트: 리스트 안에 또 다른 리스트를 담는 것
x = [1, 2, 3, ['a', 'b', 'c']]
x

[1, 2, 3, ['a', 'b', 'c']]

In [ ]:
x[3]

['a', 'b', 'c']

In [ ]:
x[3][0]

'a'

In [ ]:
x[-1][-1]

'c'

In [ ]:
y = [1, 2, 3, 4, 5]
y

[1, 2, 3, 4, 5]

In [ ]:
# 변수 = 값
y[0] = 10
y

[10, 2, 3, 4, 5]

In [ ]:
# 슬라이싱(slicing): 리스트에 범위지정을 통해 데이터를 추출, start:end
# 파이썬은 마지막 데이터를 포함하지 않는다. end라고 쓴것의 -1 값까지만 추출
x = [1, 2, 3 , 4, 5]
x

[1, 2, 3, 4, 5]

In [ ]:
x[0:5]

[1, 2, 3, 4, 5]

In [ ]:
x[:5] # 시작위치를 지운건 처음부터 읽어 온단 뜻

[1, 2, 3, 4, 5]

In [ ]:
x[0:] # 종료 위치를 지운건 끝까지 읽으란 뜻

[1, 2, 3, 4, 5]

In [ ]:
x[:] # 처음부터 끝까지 읽으란 뜻

[1, 2, 3, 4, 5]

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [ ]:
# 변수명[인덱스]
# 변수명[시작인덱스:마지막인덱스], 마지막인덱스-1까지만 추출
print(cities)
print(cities[0:8])
print(cities[:8])
print(cities[0:])
print(cities[:])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [ ]:
cities[-8:]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [ ]:
cities[-1:]

['수원']

In [ ]:
# 증가값(step)
# 변수명[시작인덱스:마지막인덱스:증감값]
cities[::2]

['서울', '인천', '대전', '울산']

In [ ]:
cities[::-1] # 역으로 슬라이싱

['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [ ]:
# 깊은 복사와 얕은 복사
a = [1, 2, 3, 4, 5]
b = a # 개체복사
print("a =", a)
print("b =", b)

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]

In [ ]:
a[0] = 10
print("a =", a)
print("b =", b)
# 이게 깊은 복사, 똑같은 주소를 복사한거라 a의 0번째 주소의 값이 바뀌니 b의 값도 바뀌는것

a = [10, 2, 3, 4, 5]
b - [10, 2, 3, 4, 5]

In [ ]:
# 자료형의 주소를 읽어오는 함수: id()
print(id(a))
print(id(b))

2359957569152
2359957569152

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:] # 이건 값만 가져오는 것
print("a =", a)
print("b =", b)

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]

In [ ]:
a[0] = 10
print("a =", a)
print("b =", b)
# 이게 얕은 복사

a = [10, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]

In [ ]:
print(id(a))
print(id(b))

2359957638528
2359957569152

### 리스트의 연산

In [ ]:
# 덧셈연산: 확장
x = [1, 2, 3]
y = [4, 5, 6]
a = x + y # extend(확장)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
xx = ['red', 'blue', 'green']
yy = ['orange', 'black', 'white']
print(xx + yy)
print(len(xx))

['red', 'blue', 'green', 'orange', 'black', 'white']
3

In [ ]:
# 리스트 곱셈: 반복(횟수)
xx * 3

['red', 'blue', 'green', 'red', 'blue', 'green', 'red', 'blue', 'green']

In [ ]:
a = [1, 2, 3]
print(a[2])
print("hello" + "python")
print(a[2] + "hi") # a는 리스트 형태지만 데이터 타입은 int여서 문자인 hi와 연산 불가

3
hellopython

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
type(a)

list

In [ ]:
print(str(a[2]) + "hi")

3hi

In [ ]:
# in 연산: 포함 여부를 나타내는 연산
color = ['red', 'blue', 'green', 'orange', 'black', 'white']
color

['red', 'blue', 'green', 'orange', 'black', 'white']

In [ ]:
'blue' in color

True

In [ ]:
'blue' not in color

False

In [ ]:
# 리스트의 추가, 삭제
## append(): 새로운 데이터가 마지막 위치에 추가된다.
color = ['red', 'blue', 'greed']
color

['red', 'blue', 'greed']

In [ ]:
color.append('white')
color

['red', 'blue', 'greed', 'white']

In [ ]:
# extend(): 기존의 리스트에 새로운 리스트를 추가
color = ['red', 'blue', 'greed']
color.extend(['orange', 'black', 'white'])
color

['red', 'blue', 'greed', 'orange', 'black', 'white']

In [ ]:
# insert(index, data)
color.insert(0, 'orange')
color

['orange', 'red', 'blue', 'greed', 'orange', 'black', 'white']

In [ ]:
# remove(data)
# remove를 햇을때 같은 데이터가 여러개 있으면 처음 것 부터 지워짐
color.remove('red')
color

['orange', 'blue', 'greed', 'orange', 'black', 'white']

In [ ]:
# del
del color[0]
color

['blue', 'greed', 'orange', 'black', 'white']

In [ ]:
# 리스트의 요소를 제거하는 작업
## 인덱스를 이용해서 제거: del 명렁어, pop() 함수
a = [5, 6, 7, 8, 9, 10]
del a[1]
print("a =", a)

a = [5, 7, 8, 9, 10]

In [ ]:
a.pop(2)
print("a =", a)

a = [5, 7, 9, 10]

In [ ]:
# 모두 제거: clear()
a .clear()
print("a =", a)

a = []

In [ ]:
# 패킹(packing)과 언패킹(unpacking)
## packing: 하나의 변수에 여러개의 데이터를 할당 하는 것
## unpacking: 하나의 변수에 담긴 여러개의 데이터를 각각의 변수로 반환
x = [1, 2, 3] # 패킹
a, b, c = x # 언패킹
print(x, a, b, c)

[1, 2, 3] 1 2 3

In [ ]:
# a, b, c, d = x   이렇게 하면 에러난다.()
# a, b = x 마찬가지로 에러난다.

In [ ]:
# 이차원 리스트
kor = [49, 79, 20, 100, 80]
eng = [88, 77, 99, 66, 50]
math = [90, 100, 52, 60, 70]
score = [kor, eng, math]
score

[[49, 79, 20, 100, 80], [88, 77, 99, 66, 50], [90, 100, 52, 60, 70]]

In [ ]:
print(kor)
print(score[0])
print(score[1][3])

[49, 79, 20, 100, 80]
[49, 79, 20, 100, 80]
66

In [ ]:
# 두 번째 학생의 국어점수
print(kor[1])
print(score[0][1])

79
79

In [ ]:
x = [1, 2, 3, 4, 5]
y = x
x[0] = 100
y
# 깊은 복사임

[100, 2, 3, 4, 5]

In [ ]:
# ==: 값을 비교하는 연산자
# is: 메모리의 주소를 비교하는 연산자
a = 300
b = 300

print(a == b)
print(a is b)

True
False

In [ ]:
# 파이썬은 -5에서 부터 256까지 이미 메모리에 할당되어 있다.
a = 1
b = 1

print(a == b)
print(a is b)
# a와 b는 주소도 같다

True
True

In [ ]:
a = 256
b = 256

print(a == b)
print(a is b)

True
True

In [ ]:
a = 257
b = 257

print(a == b)
print(a is b)

True
False

In [ ]:
# 정렬(sort): 기본 오름차순
b = [52, 273, 103, 32, 8, 1]
b.sort()
b

[1, 8, 32, 52, 103, 273]

In [ ]:
b = [52, 273, 103, 32, 8, 1]
b.sort(reverse = True) # 내림차순
b

[273, 103, 52, 32, 8, 1]

In [ ]:
# in 연산자, not in 연산자
b = [52, 273, 103, 32, 8, 1]
7 in b

False

In [ ]:
7 not in b

True

## 튜플(Tuple)
- 리스트와 유사하지만 값을 변경할 수 없다. 즉, 읽기 전용자료로 저장할 때 사용
- 각 값에 대한 인덱스가 부여된다.
- 변경 불가능
- 소괄호 ()를 사용하여 데이터를 표현한다.

## 사전(Dictionary)
- 키(key)와 값(value)을 쌍(아이템, item)으로 담아서 관리하는 자료구조
- 저장된 각 값에 대한 순서는 의미가 없다.
- 저장된 데이터는 키(key)에 의해 조회된다.
- 키(key)는 중복을 허용하지 않는다.
- 중괄호 {}를 사용하여 데이터를 표현한다.

## 집합(Set)
- 인덱스가 없고 값만 저장되는 자료구조
- 순서는 의미가 없다.
- 중괄호 {}를 사용
- 컴마(,)를 기준으로 데이터를 분리한다.
- 중복값을 허용하지 않는다.

# 제어문: 제어하는 문장
1. 정의: 프로그램의 흐름이나 순서를 제어할 때 사용하는 문자
         일반적으로 프로그램은 위에서 아래로, 좌에서 우로 진행
         
2. 조건문 or 비교/판단문 or 선택문
 - 주어진 조건에 따라 프로그램의 실행을 선택 또는 변경
 - 조건식 반드시 그 결과가 참 또는 거짓으로 판정이 되는 식
 - if문
 
3. 반복문
 - 동일하거나 유사한 성격을 가진 문장을 반복할 때 사용하는 문장
 - 주어진 조건이 참일 때 문장을 반복
 - 유사한 성격이란 동일한 행위를 하되 일정한 규칙을 가지고 있는 문장
 - for문, while문
 
4. 기타 제어문
 - break: 무조건 반복을 벗어나라는 의미
 - continue: 이하 생략

## 조건문 - if

In [ ]:
print("hi")
a = 1
print("a =", a)
print("배고파")

hi
a = 1
배고파

In [ ]:
# 파이썬은 들여쓰기를 중시한다.
print("hi")
a = 1
if a == 0:
    print("a =", a)
    print("배고파")
if a == 1:
    print("a =", a)
    print("배고파")

hi
a = 1
배고파

In [ ]:
# 하나의 숫자를 입력 받아서 짝수인지 판정하는 프로그램을 구현하시오.

In [ ]:
num = int(input("원하는 숫자를 입력하세요: "))
if num % 2 == 0:
    print("입력받은 숫자 %d는 짝수입니다." % num)
if num % 2 != 0:
    print("입력받은 숫자 %d는 홀수입니다." % num)

원하는 숫자를 입력하세요: 29
입력받은 숫자 29는 홀수입니다.

In [ ]:
num = int(input("원하는 숫자를 입력하세요: "))
if num % 2 == 0:
    print("입력받은 숫자 %d는 짝수입니다." % num)
else:
    print("입력받은 숫자 %d는 홀수입니다." % num)

원하는 숫자를 입력하세요: 2
입력받은 숫자 2는 짝수입니다.

In [ ]:
# 하나의 숫자를 입력받아 양수인지 음수인지 판정하는 프로그램을 구현
num2 = float(input("원하는 숫자를 입력하세요: "))
if num2 >= 0:
    print("입력받은 숫자 %f는 양수입니다." % num2)
else:
    print("입력받은 숫자 %f는 음수입니다." % num2)

원하는 숫자를 입력하세요: 2
입력받은 숫자 2.000000는 양수입니다.

In [ ]:
# 하나의 숫자를 입력받아 양수인지 음수인지 판정하는 프로그램을 구현
num2 = float(input("원하는 숫자를 입력하세요: "))
if num2 > 0:
    print("입력받은 숫자 %f는 양수입니다." % num2)
elif num2 == 0:
    print("입력받은 숫자 %d은 0입니다." % num2)
elif num2 < 0:
    print("입력받은 숫자 %f는 음수입니다." % num2)

### 문제: 성적 처리 프로그램 1단계
국어, 영어, 수학점수를 입력받아 총점과 평균을 계산하여 출력하는 프로그램을 작성하시오.<br>
단, 평균은 소숫점 이하 둘째자리까지 출력되도록 구현하시오.<br>
<입력형식> <br>
국어 = <br>
영어 = <br>
수학 = <br>
<br>
<출력형식> <br>
총점: xx점, 평균: xx.xx점

In [ ]:
kor = int(input("국어 점수를 입력하세요: "))
eng = int(input("영어 점수를 입력하세요: "))
math = int(input("수학 점수를 입력하세요: "))
sum1 = kor + eng + math
avg1 = float(sum1) / 3
print("총점: %d점, " % sum1, end = "")
print("평균: %.2f점" % avg1)

국어 점수를 입력하세요: 2
영어 점수를 입력하세요: 3
수학 점수를 입력하세요: 4
총점: 9점, 평균: 3.00점

In [ ]:
# 입력문 = 키보드를 통해 데이터를 입력받을 때 사용하는 문장
kor1 = int(input("국어 ="))
eng1 = int(input("영어 ="))
math1 = int(input("수학 ="))

# 처리문 - 제어문이나 함수를 통해 처리하는 문ㄴ장
tot = kor1 + eng1 + math1
avg2 = tot / 3

#출력문 - 출력 형식에 맞게 구현되는 문장
print("총점: {0}점, 평균: {1:.2f}점".format(tot, avg2))

국어 =2
영어 =3
수학 =4
총점: 9점, 평균: 3.00점

### 성적 처리 프로그램 2단계
학점을 부여하시오. 하점은 평균을 이용하여 A, B, C, D, F로 표현하되, <br>
평균이 90점 이상이면 'A학점', 80점 이상이면 'B학점', ...

In [ ]:
# 입력문 = 키보드를 통해 데이터를 입력받을 때 사용하는 문장
kor2 = int(input("국어 = "))
eng2 = int(input("영어 = "))
math2 = int(input("수학 = "))

# 처리문 - 제어문이나 함수를 통해 처리하는 문ㄴ장
tot2 = kor2 + eng2 + math2
avg3 = tot2 / 3

#출력문 - 출력 형식에 맞게 구현되는 문장
if avg3 >= 90:
    print("%.2f점은 A학점 입니다." % avg3)
elif avg3 >= 80:
    print("%.2f점은 B학점 입니다." % avg3)
elif avg3 >= 70:
    print("%.2f점은 C학점 입니다." % avg3)
elif avg3 >= 60:
    print("%.2f점은 D학점 입니다." % avg3)
elif avg3 < 60:
    print("%.2f점은 F학점 입니다." % avg3)

국어 = 90
영어 = 100
수학 = 100
96.67점은 A학점 입니다.

In [ ]:
# 입력문 = 키보드를 통해 데이터를 입력받을 때 사용하는 문장
kor1 = int(input("국어 = "))
eng1 = int(input("영어 = "))
math1 = int(input("수학 = "))

# 처리문 - 제어문이나 함수를 통해 처리하는 문장
tot = kor1 + eng1 + math1
avg3 = tot / 3

#출력문 - 출력 형식에 맞게 구현되는 문장
if avg3 >= 90:
    grade = 'A'
elif avg3 >= 80: # 90 > avg3 >= 80이란게 내부적으로 포함되어 있다
    grade = 'B'
elif avg3 >= 70:
    grade = 'C'
elif avg3 >= 60:
    grade = 'D'
elif avg3 < 60:
    grade = 'F'
print("총점: {0}점, 평균: {1:.2f}점, \
학점: {2}".format(tot, avg3, grade))

국어 = 90
영어 = 80
수학 = 100
총점: 270점, 평균: 90.00점, 학점: A

## 반복문
- 반복하는 문장
- for문, while문

In [ ]:
# for 개별변수 in 집합변수: =
a = [1, 2 ,3, 4, 5]
a

[1, 2, 3, 4, 5]

In [ ]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

1
2
3
4
5

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
for _ in a: # _ 언더스코어 생략의 기능
    print("hello")

hello
hello
hello
hello
hello

In [ ]:
# range(start, end, step)
for i in range(1, 5, 1): # 1,2,3,4
    print(i)

1
2
3
4

In [ ]:
for i in range(1, 6): # 1,2,3,4,5
    print(i)

1
2
3
4
5

In [ ]:
for i in range(6): # 0, 1, 2,3,4,5
    print(i)

0
1
2
3
4
5

In [ ]:
for i in "korea":
    print(i)

k
o
r
e
a

In [ ]:
for i in ["red", "blue", "black"]:
    print(i)

red
blue
black

In [ ]:
for i in range(1, 10, 2):  # 1부터 9까지 2씩 증가 시켜라
    print(i)

1
3
5
7
9

In [ ]:
for i in range(1, 11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [ ]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

#### 구구단 출력
- 하나의 수를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 구현하시오

In [ ]:
dan = int(input("단수 = "))

# for 개별변수 in 집합변수
for i in range(1, 10):
    print("{0} x {1} = {2}".format(dan, i, dan * i))

단수 = 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

### 구구단을 출력하시오

In [ ]:
# 단수
for dan in range(1, 10): # 1, 2, 3, 4, 5, 6, 7, 8, 9
    print("==== {0}단 ====".format(dan))
    # 자연수
    for su in range(1, 10): # 1, 2, 3, 4, 5, 6, 7, 8, 9
        print("{0} x {1} = {2}".format(dan, su, dan * su)) # 총 81번 찍힌다.
    print() # 새로운 단이 시작하기전 프린트 부터 만난다

==== 1단 ====
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

==== 2단 ====
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

==== 3단 ====
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

==== 4단 ====
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

==== 5단 ====
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

==== 6단 ====
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

==== 7단 ====
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

==== 8단 ====
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

==== 9단 ====
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
# 다중 ofr
for i in [1, 2]:
    print("hi")

hi
hi

In [ ]:
# 다중 ofr
for i in [1, 2]:
    print("%d 번째" % i)
    for j in [1, 2, 3]:
        print("hi")
    print()

1 번째
hi
hi
hi

2 번째
hi
hi
hi

In [ ]:
# 1부터 100까지 자연수를 출력하는 프로그램을 구현하시오.
for i in range(1, 101):
    print("%3d" % i, end="")
    if i % 10 == 0:
        print()

  1  2  3  4  5  6  7  8  9 10
 11 12 13 14 15 16 17 18 19 20
 21 22 23 24 25 26 27 28 29 30
 31 32 33 34 35 36 37 38 39 40
 41 42 43 44 45 46 47 48 49 50
 51 52 53 54 55 56 57 58 59 60
 61 62 63 64 65 66 67 68 69 70
 71 72 73 74 75 76 77 78 79 80
 81 82 83 84 85 86 87 88 89 90
 91 92 93 94 95 96 97 98 99100

In [ ]:
for i in range(1, 11, 1):
    print("%5d" % i, end="")

    1    2    3    4    5    6    7    8    9   10

In [ ]:
for i in range(1, 11, 2):
    print("%5d" % i, end="")

    1    3    5    7    9

In [ ]:
i = 1
while i < 11:
    print("%5d" % i, end="")
    i = i + 1 # i += 1

    1    2    3    4    5    6    7    8    9   10

In [ ]:
i = 1
#while True: #무한 루프임
    print("%5d" % i, end="")
    i = i + 1 # i += 1

In [ ]:
i = 1
while True: 
    print("%5d" % i, end="")
    i = i + 1 # i += 1
    if i > 10:
        break

    1    2    3    4    5    6    7    8    9   10

### 숫자를 다섯개 입력받아 그 합을 계산한 후 출력하는 프로그램

In [ ]:
a = int(input("숫자 = "))
b = int(input("숫자 = "))
c = int(input("숫자 = "))
d = int(input("숫자 = "))
e = int(input("숫자 = "))

tot = a + b + c + d + e
print("다섯 숫자의 합은 %d입니다" % tot)

숫자 = 1
숫자 = 2
숫자 = 3
숫자 = 4
숫자 = 5
다섯 숫자의 합은 15입니다

In [ ]:
tot = 0
for i in range(5): # 0, 1, 2, ,3 , 4
    num = int(input("숫자 = "))
    tot = tot + num
    
print("다섯 숫자의 합은 %d입니다" % tot)

숫자 = 1
숫자 = 2
숫자 = 3
숫자 = 4
숫자 = 5
다섯 숫자의 합은 15입니다

### 숫자를 입력받아 누적합을 계산하는 프로그램을 작성하되, 입력받은 숫자가 0이면 입력을 중지하고 누적합의 결구를 출력하는 프로그램을 구현하시오.

In [ ]:
tot = 0
while True:
    num = int(input("숫자 = "))
    if num == 0: break
    tot = tot + num
print("입력된 숫자의 합은 %d입니다" % tot)

숫자 = 1
숫자 = 2
숫자 = 3
숫자 = 3
숫자 = 3
숫자 = 3
숫자 = 3
숫자 = 3
숫자 = 3
숫자 = 0
입력된 숫자의 합은 24입니다

In [ ]:
for  i in range(10): # 10번 반복해라
    if i == 5: continue # 이하생략, 건너 뛰기
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# 반복문의 else의 의미
## 어떤 조건이 완전히 끝났을 때 한 번 더 실행해 주는 역할

for i in range(10):
    print(i)
else:
    print("End of Program")

0
1
2
3
4
5
6
7
8
9
End of Program

In [ ]:
# 구구단으로 출력할 단수를 입력받는 문장
""
dan = int(input("단 = "))
i = 1
while dan % 2 == 0:
    print("{0} X {1} = {2}".format(dan, i, dan * i))
    i += 1
    if i > 9: break
else:
    print("짝수단만 출력하고 싶어요")

단 = 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36