<a href="https://colab.research.google.com/github/Null2648/Basic_Python/blob/main/ch02.%20%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95%20%EB%B3%B5%EC%8A%B5%2C%20%EB%AC%B8%EC%9E%90%EC%97%B4%2C%20%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98/ch02_%EB%AC%B8%EC%9E%90%EC%97%B4%EA%B3%BC_%EA%B4%80%EB%A0%A8%EB%90%9C_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 대소문자 변환함수: upper(), lower()
# 모든 것을 객체로 간주한다.
print("안녕하세요")

love = print

안녕하세요

In [ ]:
love("웃기다")

웃기다

In [ ]:
string = "Hwllo Pyhon p....."
string

'Hwllo Pyhon p.....'

In [ ]:
string.upper()

'HWLLO PYHON P.....'

In [ ]:
lower() hllo = lower

SyntaxError: invalid syntax (4280376097.py, line 1)

In [ ]:
# trim, strip, ltrip, rstrip
aaa = """
   안녕하세요
문자열과 관련된 함수를 알아 볼까요?
"""

In [ ]:
aaa

'\n   안녕하세요\n문자열과 관련된 함수를 알아 볼까요?\n'

In [ ]:
print(aaa)

   안녕하세요
문자열과 관련된 함수를 알아 볼까요?

In [ ]:
print(aaa.strip())

안녕하세요
문자열과 관련된 함수를 알아 볼까요?

In [ ]:
# 논리형 변수: True or False, and,or, not
hungry = True
sleep = False

print(type(hungry))

<class 'bool'>

In [ ]:
print(hungry and sleep)

False

In [ ]:
print(hungry or sleep)

True

In [ ]:
# print(hungry or !sleep) 이렇게 쓰면 에러남
print(hungry or not sleep)

True

In [ ]:
a = 1
b = 3

if a == 1 and b == 3:
    print("ok")
else:
    print("not ok")

ok

In [ ]:
# 비교(관계) 연산자: ==, !=, >=, >, <=, <
# 논리연산자: and, or, not

In [ ]:
# find(): 왼쪽부터 찾아서 처음 나오는 위치값을 얻어오는 함수
# rfind(): 오른쪽부터 찾아서 처음 나오는 위치값을 얻어오는 함수
# 안 녕 안 녕 하 세 요
# 0  1  2  3  4  5  6
string = "안녕안녕하세요".find("안녕")
string

0

In [ ]:
string = "안녕안녕하세요".rfind("안녕")
string

2

In [ ]:
# in 연산자
print("안녕" in "안녕하세요")
# 안녕하세요에 안녕이 포함 되어 있습니까? True

True

In [ ]:
print("잘자" in "안녕하세요")
# 안녕하세요에 잘자가 포함 되어 있습니까? Fasle

False

In [ ]:
# split(): 문자열을 자르는 함수
a = "10 20 30 40 50".split(" ")
a

['10', '20', '30', '40', '50']

In [ ]:
# f-문자열: 파이썬 3.6버전부터 사용되는 기능
# 문자열 앞에 f를 붙이고 문자열 내부에 표현식을 {}로 삽입
## f'문자열{표현식}문자열'
a = "{}".format(10)
a

'10'

In [ ]:
type(a)

str

In [ ]:
f'{10}'

'10'

In [ ]:
f"3 + 4 = {3 + 4}" # 중괄호 안은 계산 되고 나머지는 그대로 나온다. 계산된 결과는 문자열형(str)이다.

'3 + 4 = 7'