<a href="https://colab.research.google.com/github/Null2648/Basic_Python/blob/main/ch04.%20%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0/ch4_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0(%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C_%ED%8A%9C%ED%94%8C%2C_%EC%82%AC%EC%A0%84%2C_%EB%82%A0%EC%A7%9C%EC%9E%90%EB%A3%8C%ED%98%95).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 리스트 생성
a = [1, 2, 3, 4, 5]
print(a)
print(type(a))
# 개별요소를 참조 - 인덱스
print(a[0]) # 첫 번재 요소
print(a[1]) # 두 번째 요소
# 마지막 요소
print(a[4])
print(a[-1])
# 리스트는 변경 가능
a[0] = 10
print("a =", a)
# 개별요소를 줄단위로 출력
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
# for 개별변수 in 집합변수
for i in a:
    print(i)

print("-------------------")
print("-" * 20)

# for i in a:
# i는 a안의 하나의 요소를 의미
#     print(a[i])  # a[a[0]] 파이썬은 이렇게 인식해서 애초에 틀린 표현이다.
# 옛날엔 다른프로그램에선 됐다(c, 자바)
# 파이썬은 안된다.
# 22.11.29. 지금와서 다시 보니 이 표현이 안되는건 파이썬이라서가 아니라 인덱스를 벗어나서이다.
# a 가 0부터 1씩 증가하는 식이라면 여전히 작동한다.

[1, 2, 3, 4, 5]
<class 'list'>
1
2
5
5
a = [10, 2, 3, 4, 5]
10
2
3
4
5
10
2
3
4
5
-------------------
--------------------

In [ ]:
# 중첩 리스트 - 이차원 리스트, 이차원 배열
a = [1, 2, 3, ['a', 'b', 'c']]
print(a)
print(a[3])
print(a[3][0]) # 리스트[행][열]

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
a

In [ ]:
# 리스트를 저장할 때 값 자체가 아니라 값이 위치한 메모리의 주소를 저장한다.
x = [1, 2, 3, 4, 5]
# 객체복사
y = x # 깊은복사, 주소가 복사됨
y[0] = 10
print("x =", x)
print("y =", y)

x = [10, 2, 3, 4, 5]
y = [10, 2, 3, 4, 5]

In [ ]:
x = [1, 2, 3, 4, 5]
y = x[:] # slicing[start:stop]
y[0] = 10
print("x =", x)
print("y =", y)

x = [1, 2, 3, 4, 5]
y = [10, 2, 3, 4, 5]

In [ ]:
x = [1, 2 , 3, 4, 5]
print(x[0:2]) # 0, 1

[1, 2]

In [ ]:
print(x[:])

[1, 2, 3, 4, 5]

In [ ]:
print(x[:3]) # 0, 1, 2

[1, 2, 3]

In [ ]:
print(x[1:]) # 2, 3, 4, 5

[2, 3, 4, 5]

In [ ]:
# 리스트 연산: 더하기(+) 연산
a = [1, 2, 3]
b = [5, 6, 7]
c = a + b # extend(확장)의 의미, 리스트가 가로로 연결된다.
# d = a.extend(b)
#d = a.extend([5, 6, 7])
print("c =", c)
print("d =", d)

c = [1, 2, 3, 5, 6, 7]
d = None

In [9]:
a = [1, 2, 3]
b = [5, 6, 7]
d = a.extend(b)
print(d)

None

In [ ]:
# a.extend(b) => a = a + b

AttributeError: 'int' object has no attribute 'extend'

In [ ]:
# 문자열도 시퀀스 자료형
# 문자열 + 문자열
"hello" + "python"

'hellopython'

In [ ]:
# 리스트 연산: 곱셈(*): 반복
a = [1, 2, 3]
b = a * 3
b

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
"hello" * 3

'hellohellohello'

In [ ]:
a

[1, 2, 3]

In [ ]:
a[1:2]

[2]

In [ ]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 3]

In [ ]:
a = [1, 2, 3]
a[1:3] = [] # 인덱스 1과 2번째 값을 삭제
a

[1]

In [ ]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [ ]:
a = [1, 4, 2, 3]
a.sort() # 오름차순
print(a)

[1, 2, 3, 4]

In [ ]:
a = [1, 4, 2, 3]
a.reverse() # 뒤집어라
print(a)

[3, 2, 4, 1]

In [ ]:
a = [1, 4, 2, 3]
a.sort() # 오름차순하라
a.reverse() # 뒤집어라
print(a)

[4, 3, 2, 1]

In [ ]:
a = [1, 4, 2, 3]
a.sort(reverse = True) # 내림차순
a

[4, 3, 2, 1]

In [ ]:
a = ['a', 'd', 'b', 'c'] # 사전순 = 알파벳순으로
a.sort()
a

['a', 'b', 'c', 'd']

In [ ]:
a = [1, 2, 3, 4, 5]
print(a.index(3)) # 3이란 값이 몇 번째 위치에 있는가?

2

In [ ]:
b = ['a', 'b', 'c']
print(b.index('h')) # 없는 데이터의 위치를 찾으면 에러 발생

ValueError: 'h' is not in list

In [ ]:
a = [1, 2, 3]
a.insert(0, 4)
print(a)

[4, 1, 2, 3]

In [ ]:
a = [1, 2, 3, 1, 2, 3]
# 값이 3인 요소 삭제(1개만)
a.remove(3) # 값으로 삭제
print(a)

[1, 2, 1, 2, 3]

In [ ]:
del a[0] # 인덱스로 삭제
a

[2, 1, 2, 3]

In [ ]:
a = [1, 2, 3]
b = a.pop() # 리스트의 마지막 요소를 추출
print(a)
print(b)

[1, 2]
3

In [ ]:
# 요소의 개수(건수)
a = [1, 2, 3, 1, 2, 1]
b = a.count(1) # 값이 1인 요소가 몇개인지 계산하는 함수
print(b)

3

In [ ]:
# 리스트의 확장
a = [1, 2, 3]
# 리스트1.extend(리스트2) > 리스트 1이 확장
a.extend([4, 5]) # 여기는 리스트가 와야 한다
# ex) a.extend(6)으로 쓸 경우 실행 x
print(a)

[1, 2, 3, 4, 5]

In [ ]:
b = [7, 8]
print(a + b)

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
# 값 in 리스트, 값 not in 리스트 => 결과는 True or False
a = [1, 2, 3, 4, 5]
result = 2 in a # 있으면 True, 없으면 False
print(result)

result = 2 not in a # 없으면 True, 있으면 False
print(result)

True
False

# 튜플(Tuple)

In [ ]:
t1 = (1, 2, 'a', 'b')
print(t1)
print(type(t1))
print(t1[0])
print(t1[-1])

# t1[0] = 'c' # 튜플은 변경 불가능, 에러 발생

(1, 2, 'a', 'b')
<class 'tuple'>
1
b

In [ ]:
# 튜플은 변경, 삭제가 불가능하다.
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
t1 = (1, 2, 'a', 'b')
print(t1[1:])
t2 = (3, 4)
print(t1 + t2)

(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)

In [ ]:
t1 = t1 + t2 # 이렇게 하면 새로운 튜플 t1이 생성된단 의미로 이해해야 한다(변경, 수정이 아님)
print("t1 =", t1)

t1 = (1, 2, 'a', 'b', 3, 4)

In [ ]:
print(t1 * 3)

(1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4)

In [ ]:
# 파이썬의 기본 자료형 튜플
a = 10
b = 20
a, b = b, a # (b, a)의 구조와 동일하고 그 것을 언패킹 해서 a, b에 담는 것과 같다.
print("a =", a, "b =", b)

a = 20 b = 10

In [ ]:
# packing(패킹): 여러개의 값을 하나의 변수에 저장하는 것
t1 = (1, 2, 3)

# unpacking: 하나의 변수에 담은 값을 각각의 변수에 할당하는 것
# 데이터의 개수와 변수의 개수는 반드시 일치해야 한다.
n1, n2, n3 = t1

# 출력형식이 포함된 문자열.format(값1, 값2, 값3)
"{0} {1} {2}".format(n1, n2, n3)
print("{0} {1} {2}".format(n1, n2, n3))

# 변수의 값을 교환
n1, n2 = n2, n1
print("{1} {0}".format(n1, n2))
print("{0} {1}".format(n1, n2))

1 2 3
1 2
2 1

In [ ]:
# 형변환: int(), float(), str()
# 자료구조의 형변환: list(), tuple()
my_list = [1, 2, 3]
my_tuple = ('x', 'y', 'z')
print(my_list)
print(my_tuple)

[1, 2, 3]
('x', 'y', 'z')

In [ ]:
print(tuple(my_list))
print(list(my_tuple))

(1, 2, 3)
['x', 'y', 'z']

# 딕셔너리

In [ ]:
# 딕셔너리{key:value, key:value, key:value}
# key는 숫자 인덱스보다 문자 인덱스를 선호(권장)
# key 중복 불가능
a = {1:'a'}
print(a)
print(type(a))

{1: 'a'}
<class 'dict'>

In [ ]:
# 사전에 아이템(item)
a[2] = 'b' # 딕셔너리의 key가 2라는건데 인덱스 2로 착각하기 쉽기에 문자를 선호한다.
print(a)

{1: 'a', 2: 'b'}

In [ ]:
stu = {'name':'홍길동', 'phone':'010-1234-5678', 'age':23}
print(stu)

{'name': '홍길동', 'phone': '010-1234-5678', 'age': 23}

In [ ]:
# 키를 이용해서 값을 조회
print(stu['name']) # 딕셔너리[key]
print(stu.get('name')) #딕셔너리.get(key)

print(stu['age']) # 딕셔너리[key]
print(stu.get('age')) #딕셔너리.get(key)

홍길동
홍길동
23
23

In [ ]:
# keys 조회
stu.keys() # 리스트형으로 출력된다.

dict_keys(['name', 'phone', 'age'])

In [ ]:
# vlaues 조회
#stu.values() # 리스트형으로 출력된다.

dict_values(['홍길동', '010-1234-5678', 23])

In [ ]:
# items
stu.items()

dict_items([('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)])

In [ ]:
# for 개별변수 in 집합변수
for k in stu.keys(): # for k in ['name', 'phone', 'age']
    print(k, "==>", stu[k])

name ==> 홍길동
phone ==> 010-1234-5678
age ==> 23

In [ ]:
b = list(stu.keys()) # 리스트 형태긴 한데 순수한 리스트가 아니라서 리스트 형변환을 해줘야 한다
print(b)

['name', 'phone', 'age']

In [ ]:
c = list(stu.values())
print(c)

['홍길동', '010-1234-5678', 23]

In [ ]:
d = list(stu.items())
print(d)

[('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)]

In [ ]:
print(type(d))

<class 'list'>

In [ ]:
print(d[0])

('name', '홍길동')

In [ ]:
print(d[0][1])

홍길동

In [ ]:
for k, v in stu.items():
    print(k, "==>", v)

name ==> 홍길동
phone ==> 010-1234-5678
age ==> 23

In [ ]:
for k in stu.items():
    print(k)

('name', '홍길동')
('phone', '010-1234-5678')
('age', 23)

In [ ]:
# 새로운 item 추가
stu['weight'] = 67.4
print(stu)

{'name': '홍길동', 'phone': '010-1234-5678', 'age': 23, 'weight': 67.4}

In [ ]:
'weight' in stu

True

In [ ]:
'홍길동' in stu

False

In [ ]:
'홍길동' in stu.values()

True

# 집합(set)

In [ ]:
# 집합 자료형: 중복값은 허용하지 않으며, 입력 순서대로 저장되지 않는다.
s1 = set([5, 4, 3, 2, 1, 2, 3, 2, 3, 4, 5])
s1

{1, 2, 3, 4, 5}

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합, &
a = s1 & s2
print("교집합:", a)

# 합집합, |
b = s1 | s2
print("합집합:", b)

# 차집합, -
c = s1 - s2
print("차집합:", c)

교집합: {4, 5, 6}
합집합: {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합: {1, 2, 3}

In [ ]:
print("교집합:", s1.intersection(s2))
print("합집합:", s1.union(s2))
print("차집합:", s1.difference(s2))

교집합: {4, 5, 6}
합집합: {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합: {1, 2, 3}

In [ ]:
s1 = set([1, 2, 3])
# 요소 추가를 append가 아닌 add를 쓴다
s1.add(4)
print(s1)
s1.add(4, 5) #1개만 추가 할 수 있다 이대로라면 오류남
print(s1)

{1, 2, 3, 4}

TypeError: set.add() takes exactly one argument (2 given)

In [ ]:
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [ ]:
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [ ]:
s1 = set([1, 2, 3])
s1.update(7) # 리스트만 추가 할 수 있어서 오류
print(s1)

TypeError: 'int' object is not iterable

In [ ]:
s1 = set([1, 2, 3])
s1.update([7])
print(s1)

{1, 2, 3, 7}

In [ ]:
s1.remove(2) # 값 제거
print(s1)

{1, 3, 7}

In [ ]:
dic = {'a':10}
sse = {10}
print(type(dic))
print(type(sse))
print(sse)

<class 'dict'>
<class 'set'>
{10}

In [ ]:
a = {10, 20, 30}
a

{10, 20, 30}

In [ ]:
a.update({7})
a

{7, 10, 20, 30}

In [ ]:
a.update([40])
a

{7, 10, 20, 30, 40}

In [ ]:
x = 10
y = 20
print("x 주소:", id(x))
print("y 주소:", id(y))
x, y = y, x
print("x 주소:", id(x))
print("y 주소:", id(y))
# 주소에 들어간 값이 바뀌는것이 아닌 값을 가리키는 주소가 바뀐다.

x 주소: 1685322099280
y 주소: 1685322099600
x 주소: 1685322099600
y 주소: 1685322099280

# 날짜 자료형

In [ ]:
# 날짜 관련 함수를 가지고 있는 모듈을 포함
# import date time 은 해당 모듈(datatime) 전체를 가져온다는 의미
from datetime import date, time,  datetime, timedelta

In [ ]:
# date 변수 중 today(): 오늘 날짜를 구하는 함수
today = date.today()
print("오늘은: {}".format(today))

오늘은: 2022-09-01

In [ ]:
print("연도: {}".format(today.year))
print("월: {}".format(today.month))
print("일: {}".format(today.day))

연도: 2022
월: 9
일: 1

In [ ]:
# 날짜와 시간을 같이 구하기
current_datetime = datetime.today()
print("현재날짜와 시간: {}".format(current_datetime))

현재날짜와 시간: 2022-09-01 12:50:48.271309

In [ ]:
print(datetime)

<class 'datetime.datetime'>

In [ ]:
abc = [3, 4, 5, 7 , 2, 1]
abc.sort(reverse = False)
abc

[1, 2, 3, 4, 5, 7]

In [ ]:
# 형식화된 날짜 출력: 서식(%)
today = datetime.today()
print(today)
print(type(today))

2022-09-01 14:24:49.900080
<class 'datetime.datetime'>

In [ ]:
# 날짜 자료형을 문자열로 형변환
# %y - 년도, %m - 월, %M - 분, %H - 시간, %S - 초
# %y - 년도(2자리), %Y - 년도(4자리)
# strftime() 날짜 자료형을 문자형으로 바꾸는 함수
d = today.strftime("%yy-%m-%d %I:%M:%S")
print(d)
print(type(d))

22y-09-01 02:24:49
<class 'str'>

In [ ]:
tt = timedelta(days = -1) # 날짜의 -1을 하란것
# 어제 날짜
print(today + tt)
# 1주일 전
tt = timedelta(days = -7)
print(today - tt)
# 30일 후
tt = timedelta(days = 30)
print(today + tt)
# 8시간 전
tt = timedelta(hours = 8)
print(today + tt)

2022-08-31 14:24:49.900080
2022-09-08 14:24:49.900080
2022-10-01 14:24:49.900080
2022-09-01 22:24:49.900080

# 리스트 내포(List Comprehension)

In [ ]:
a = [] # a =  list()

for i in range(1, 6): # [1, 2, 3, 4, 5]
    a.append(i * 2)
    
print(a)

[2, 4, 6, 8, 10]

In [ ]:
# 출력값 - 실제 리스트에 담겨질 값
a = [i * 2 for i in range(1, 6)]
print(a)

[2, 4, 6, 8, 10]

In [ ]:
array = ['사과', '자두', '초콜릿', '바나나', '체리']
output = []

for i  in array:
    if i != '초콜릿':
        output.append(i)
        
print(output)

['사과', '자두', '바나나', '체리']

In [ ]:
# 인라인 함수 inline
array = ['사과', '자두', '초콜릿', '바나나', '체리']

output = [i for i in array if i != '초콜릿']

print(output)

['사과', '자두', '바나나', '체리']